@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.font-righteous {
  font-family: 'Righteous', cursive;
}


@tailwind base;
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}
@tailwind components;
@tailwind utilities;